<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
	<title>人物选择</title>
    <style>
		#avatar > div.row {
			margin-top: 20px;
			margin-bottom: 20px;
		}
	</style>
    
    <script type="text/javascript">
		$(function () {
			$("#avatar img").each(function(index, element) {
				var img = $(element);
            	var imgUrl = img.attr("src");
            	if (imgUrl.indexOf("/img/person/") == 0) {
            		img.attr("title", "点击看大图");
            		img.css("cursor", "pointer");
            		
            		img.on("click", function(){
						location.href = "/person/detail?imgUrl=" + encodeURI(imgUrl);
					});
            	}
            });
		});
	</script>
</head>
<body>
	<div layout:fragment="content" class="container-fluid" style="background-color: #e3e2e2">
		<div class="row">
			<div class="col-sm-12">
				<img src="/img/p3/p31.jpg" />
			</div>
		</div>
		<div id="avatar">
			<div class="row">
				<div class="col-sm-4">
					<img src="/img/person/1s.jpg" />
				</div>
				<div class="col-sm-4">
					<img src="/img/person/2s.jpg" />
				</div>
				<div class="col-sm-4">
					<img src="/img/person/3s.jpg" />
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<img src="/img/person/4s.jpg" />
				</div>
				<div class="col-sm-4">
					<img src="/img/p3/p32.jpg" />
				</div>
				<div class="col-sm-4">
					<img src="/img/person/5s.jpg" />
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<img src="/img/person/6s.jpg" />
				</div>
				<div class="col-sm-4">
					<img src="/img/person/7s.jpg" />
				</div>
				<div class="col-sm-4">
					<img src="/img/person/8s.jpg" />
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<img src="/img/person/9s.jpg" />
				</div>
				<div class="col-sm-4">
					<img src="/img/person/10s.jpg" />
				</div>
				<div class="col-sm-4">
					<img src="/img/person/11s.jpg" />
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<img src="/img/person/12s.jpg" />
				</div>
				<div class="col-sm-4">
					<img src="/img/person/13s.jpg" />
				</div>
				<div class="col-sm-4">
					<img src="/img/person/14s.jpg" />
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<img src="/img/person/15s.jpg" />
				</div>
				<div class="col-sm-4">
					<img src="/img/person/16s.jpg" />
				</div>
				<div class="col-sm-4">
					<img src="/img/person/17s.jpg" />
				</div>
			</div>
		</div>
		<p class="text-center">
			<button class="btn btn-primary" style="background: #1c2c58">购买及分享</button>
		</p>
	</div>
</body>
</html>
