<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
	<title>分享购买</title>
</head>
<body>
	<div layout:fragment="content" class="container-fluid" style="background-color: #e3e2e2">
		<div class="row">
			<div class="col-sm-12">
				<img src="/img/p4/p42.jpg" />
			</div>
			<p class="text-center">
				<button class="btn btn-primary" style="background: #1c2c58">点击运付费抢松塔（限量）</button>
			</p>
			<p class="text-center">
				<button class="btn btn-primary" style="background: #1c2c58">点击参与预售</button>
			</p>
			<p class="text-center">
				<button class="btn btn-default" style="background: #f26522; color: white">点击分享页面</button>
			</p>
		</div>
	</div>
</body>
</html>
